{% extends 'base.html' %}
{% load static %}


{% block content %}
  <link href="{% static 'assets/css/82cfd66e.css' %}" rel="stylesheet"></head>
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Home Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        {# first /////////////////////////////////-///////////////////////////////////////#}
        {#/ * about company #}
        <div class="row">
          <div class="col-lg-4">
            {#          /*關於我們*/#}
            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">關於我們</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        {# second ////////////////////////////////////////////////////////////////////////#}
        {#/*PRE-CONSTRUCTION 比YEAH */#}
        <div class="row">
          <div class="col-md-6 col-xs-12 pt-4 mt-4">
            <div class="row">
              {##}
              <div class="col-md-6 col-xs-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div>
              {##}
              <div class="col-md-6 col-sm-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div>
              {##}
              <div class="col-md-6 col-xs-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div>
              {##}
              <div class="col-md-6 col-xs-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div>
              {##}
              <div class="col-md-6 col-xs-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div>
              {##}
              <div class="col-md-6 col-xs-12 text-center">
                <div class="row padding_all">
                  <div class="col col-lg-12">
                      <span style="font-size: 3em; color: Tomato;">
                        <i class="fab fa-angellist"></i>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    PRE-CONSTRUCTION
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium
                  </div>
                </div>
              </div><!-- .col-md-6 col-xs-12 text-center -->

            </div><!-- .row -->
          </div><!-- .col-md-6 col-xs-12 -->
          {#second - one image#}
          <div class="col-md-6 col-xs-12">
            <div class="row">
              <img src="{% static 'assets/images/3.jpeg' %}" alt="" class="w-100">
              <div class="dummy"></div>
              <div class="block"></div>
            </div>
          </div>
        </div>
        <!--row-->

        {# third ////////////////////////////////////////////////////////////////////////#}
        {#/*our projects*/#}
        <div class="row">
          <div class="col-md-3 col-xl-3 col-xm-12">
            <div class="nav nav-link h-100" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
              <div class="main_w_title">
                <h2>OUR <br class="title_br"> projects</h2>
                <h6>Great &amp; Awesome Works</h6>
              </div>
              {# 外掛: https://mdbootstrap.com/docs/b4/jquery/plugins/filter/ #}

              <ul class="list-unstyled nav nav-link pt-5 mt-5 float-right flex-nav bottom-0 our_project_filter list-inline" id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical">
                <li><a class="nav-link a_nl active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                       role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Home</a></li>
                <li><a class="nav-link a_nl" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">Profile</a></li>
                <li><a class="nav-link a_nl" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                       role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">Messages</a></li>
                <li><a class="nav-link a_nl" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                       role="tab"
                       aria-controls="v-pills-settings" aria-selected="false">Settings</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-9 ">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                   aria-labelledby="v-pills-home-tab">
                <div class="row">
                  <div class="container col-lg-4 col-md-12 col-sm-12 p-3">
                    <div class="row">
                      <img src="{% static 'assets/images/port/1.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">虱目魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">
                            「優質蛋白質」幫助小孩成長發育、成人肌肉養成，還有其他一些多元不飽和脂肪酸，包括油酸、棕櫚酸、亞油酸等；而這些不飽和脂肪酸跟紅肉的飽和脂肪酸相比，對身體的負擔比較小。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container col-lg-4 col-md-12 col-sm-12 p-3">
                    <div class="row">
                      <img src="{% static 'assets/images/port/2.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">秋刀魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">
                            秋刀魚也含有豐富的脂溶性維生素Ｅ及水溶性維生素Ｂ12。可以協助細胞抗氧化，以及參與體內紅血球生成、保護神經髓鞘等功能。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container col-lg-4 col-md-12 col-sm-12 p-3">
                    <div class="row">
                      <img class="h-auto w-100" src="{% static 'assets/images/port/3.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">吳郭魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">
                            肉中含DHA不為人體腦部所需的重要養分，與EPA具抗凝血功能，可防止血管中膽固醇及脂肪的堆積，預防心臟及血管疾病，適合做為人體蛋白質的供應來源。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- / * row -->
                <div class="row pt-0">
                  <div class="container col-lg-4 col-md-12 col-sm-12 pl-3 pr-3 pt-0 pb-3">
                    <div class="row">
                      <img src="{% static 'assets/images/port/4.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">鯊魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">鯊魚還含有一種物質可以延緩實體腫瘤的血管生長,從而使腫瘤失去血液的滋養,抑制腫瘤生長速度。
                            鯊魚軟骨常被用來治療腫瘤。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container col-lg-4 col-md-12 col-sm-12 pl-3 pr-3 pt-0 pb-3">
                    <div class="row">
                      <img src="{% static 'assets/images/port/5.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">鱈魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">鱈魚熱量低，且含有優質的蛋白質，每100公克的鱈魚裡，就有14g的蛋白質。
                            吃自助餐時，不妨來一片清蒸鱈魚吧！ 鱈魚更富含維生素A、維生素D、鈣、磷、鈉、DHA等營養素。 對心血管系統有很好的保護作用。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container col-lg-4 col-md-12 col-sm-12 pl-3 pr-3 pt-0 pb-3">
                    <div class="row">
                      <img src="{% static 'assets/images/port/6.jpeg' %}" alt="Avatar">
                      <div class="overlay">
                        <div class="text pl-4 pr-4">
                          <a class="text-light shadow_h4" href="#"><h4 class="h4_text">文昌魚</h4></a>
                          <p class="shadow_p" style="color: #31353d;">
                            豐富的蛋白質，還含有多種對人體有益的胺基酸，其中八種是人體必需而又無法合成的胺基酸，另外微量元素煙酸、鉀以及磷等物質也是這種魚類含有的重要營養成分，平時人們食用文昌魚不但能滋補身體，還能強壯身體預防多種疾病發生。</p>
                          <a class="shadow_btn" href="#">View Project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- / * row -->
              </div> <!-- . tab-pane /-->
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                123
              </div><!-- . tab-pane /-->
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                456
              </div><!-- . tab-pane /-->
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                789
              </div><!-- . tab-pane /-->
            </div>
          </div>
        </div><!-- . row /-->

        {# fourth ////////////////////////////////////////////////////////////////////////#}
        {#/* work with us */#}
        <div class="row">
          <div class="work_area w-100">
            <div class="container text-center">
              <div class="work_content">
                <div class="main_title">
                  <h2>work <br>with us</h2>
                  <h6>Lets Get Offer</h6>
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                <a class="get_bg_btn" href="#">GET A QUOTE</a>
              </div>
            </div>
          </div><!-- /* col-md-6 col-xs-12 pt-4 mt-4 -->
        </div><!-- /* row-->

        {# fiveth ////////////////////////////////////////////////////////////////////////#}
        {#/*  */#}
        <div class="row">
          <div class="our_team_area col-md-12 col-xs-12 pt-4 mt-4">


            <div class="container-fluid">
              {#                title區域#}
              <div class="main_b_r_title">
                <h2 class="h2_title">our <br class="title_br">team</h2>
                <h6>We Are Awesome &amp; Skilled</h6>
              </div>

              {#                圖片區域#}
              {#                <div class="container-fluid">#}

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-xl-4">
                  <div class="container_test">
                    <div class="card card0">
                      <div class="border">
                        <h2 class="h2_opacity">Al Pacino</h2>
                        <div class="icons">
                          <i class="fa fa-codepen" aria-hidden="true"></i>
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /* col-xs-12 col-sm-12-->
                <div class="col-xs-12 col-sm-12 col-xl-4">
                  <div class="container_test">
                    <div class="card card1">
                      <div class="border">
                        <h2 class="h2_opacity">Al Pacino</h2>
                        <div class="icons">
                          <i class="fa fa-codepen" aria-hidden="true"></i>
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /* col-xs-12 col-sm-12-->
                <div class="col-xs-12 col-sm-12 col-xl-4">
                  <div class="container_test">
                    <div class="card card2">
                      <div class="border">
                        <h2 class="h2_opacity">Al Pacino</h2>
                        <div class="icons">
                          <i class="fa fa-codepen" aria-hidden="true"></i>
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /* col-xs-12 col-sm-12-->


              </div><!--row-->


              {#                </div><!--container-fluid-->#}


            </div>

          </div><!-- /* col-md-6 col-xs-12 pt-4 mt-4-->
        </div>


      </div><!--container-fluid-->
    </div><!-- /.content -->
  </div><!-- /.content-wrapper -->






  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      masonryBuild();
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      navActivePage();
    });
  </script>
  <script type="text/javascript" src="{% static 'assets/js/85741bff.js' %}"></script>
{% endblock %}
