{% extends 'base.html' %}

{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Home Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">







        {#  <br>#}

        <div class="row">
          <div class="col-md">
            <div class="card card-body">
              <h5>Products</h5>
            </div>
            <div class="card card-body">
              <table class="table">
                <tr>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Price</th>
                </tr>

                {% for i in products %}
                  <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.category }}</td>
                    <td>{{ i.price }}</td>
                  </tr>
                {% endfor %}

              </table>
            </div>
          </div>

        </div>

      </div><!--container-fluid-->
    </div><!-- /.content -->
  </div><!-- /.content-wrapper -->


{% endblock content %}
